.navbar {
    background-color: rgba(43, 87, 151, 0.8) !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #ffd700 !important;
}